// COLORS
$white:#fff;
$black:#000;
$light:#676661;
$gray:#84888C;
$azul:#041F8F;
$azulClaro: #0285C9;

// RESPONSIVE GRID
$wide-width: 1560px;
$max-desktop-width: 1559px;
$desktop-width: 1080px;
$max-tablet-width: 1079px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$mobile-width: 410px;
$mobile-small-width: 320px;


