.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-aspas {
    width: 70px;
    height: 58px;
    background-position: -20px -20px;
}

.sprite-check {
    width: 70px;
    height: 70px;
    background-position: -130px -20px;
}

.sprite-doe {
    width: 72px;
    height: 65px;
    background-position: -240px -20px;
}

.sprite-download {
    width: 21px;
    height: 21px;
    background-position: -352px -20px;
}

.sprite-eye {
    width: 14px;
    height: 21px;
    background-position: -413px -20px;
}

.sprite-facebook {
    width: 9px;
    height: 16px;
    background-position: -467px -20px;
}

.sprite-glass {
    width: 17px;
    height: 17px;
    background-position: -516px -20px;
}

.sprite-handshake {
    width: 83px;
    height: 55px;
    background-position: -573px -20px;
}

.sprite-home {
    width: 20px;
    height: 16px;
    background-position: -696px -20px;
}

.sprite-i1 {
    width: 82px;
    height: 82px;
    background-position: -756px -20px;
}

.sprite-i2 {
    width: 82px;
    height: 82px;
    background-position: -878px -20px;
}

.sprite-i3 {
    width: 82px;
    height: 82px;
    background-position: -1000px -20px;
}

.sprite-i4 {
    width: 82px;
    height: 82px;
    background-position: -1122px -20px;
}

.sprite-i5 {
    width: 82px;
    height: 82px;
    background-position: -1244px -20px;
}

.sprite-i6 {
    width: 78px;
    height: 55px;
    background-position: -1366px -20px;
}

.sprite-i7 {
    width: 47px;
    height: 63px;
    background-position: -1484px -20px;
}

.sprite-instagram {
    width: 14px;
    height: 14px;
    background-position: -1571px -20px;
}

.sprite-juntos {
    width: 62px;
    height: 62px;
    background-position: -1625px -20px;
}

.sprite-linkedin {
    width: 14px;
    height: 14px;
    background-position: -1727px -20px;
}

.sprite-pdf {
    width: 38px;
    height: 51px;
    background-position: -1781px -20px;
}

.sprite-youtube {
    width: 16px;
    height: 12px;
    background-position: -1859px -20px;
}
